.con > div > div {
    color: black;
    /* text-indent: 10px; */
    font-size: 9.5pt;
  }
.react-grid-item  > span:first-child{
    cursor: pointer;
}
.react-grid-item  > span:first-child:hover{
    font-size: 10.5pt;
}
.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    background-color: white; /* 김누리 추가 201016 */
    transition: all 200ms ease;
    transition-property: left, top;
    box-shadow: 1px 1px 0 1px #a6a6a6;
  }
  .react-grid-item img {
    pointer-events: pointer;
    user-select: none;  
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.dropping {
    visibility: hidden;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }
  
  .react-resizable-hide > .react-resizable-handle {
    display: none;
  }
  
  .react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-w,
  .react-grid-item > .react-resizable-handle.react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-n,
  .react-grid-item > .react-resizable-handle.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
  }
  .react-grid-item > .react-resizable-handle.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
  }
  .remove {
    margin-top: 2px;
    background-image: url('../image/memo-delete.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
  }
  /* .memoHead {
    font-size: 0pt;
  } */
  .update {
    margin-top: 2px;
    background-image: url('../image/memo-update.png');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
  }
  .memodate {
    font-size: 7.5pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }
  .memoCon {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  