.memoCrudAll {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    z-index: 10;
}
.editorSpace {
    height: 460px;
    width: 700px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 370px);
    background-color: rgb(255,255,255);
    z-index: 11;
    padding-left: 15px;
    padding-right: 15px;
}

.editorSpace::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
    background: rgba(255,255,255,0.4);
  }
  .editorSpace::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
  }

#memoCreate{
    font-size: 13pt;
    vertical-align: middle;
    display: inline-block;
}

#memoBtn{
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
}

#writeEditorBtn, #cancleEditorBtn, #deleteMemoBtn {
    vertical-align: top;
    cursor: pointer;
    height: 25px;
    width: 50px;
    border-radius: .25rem;
    background-color: rgba(255,255,255, 0);
    border: 1.5px solid gray;
    outline: 0;
    font-size: 9pt;
    font-weight: 500;
    color: gray;
    margin-right: 5px;
}
#deleteMemoBtn {
  width: 70px;
}
#writeEditorBtn:hover, #cancleEditorBtn:hover{
    background-color: lightgray;
    height: 25px;
    width: 50px;
}

#deleteMemoBtn:hover {
  background-color: lightgray;
  height: 25px;
  width: 70px;
}

.quill  {
    height: 350px;
}

/* quill 가로 768 이하면 height: 300px로  
quill, editorSpace도 가로 768 이하면 width: 300px로 */


  @media screen and (max-width: 768px) {
    .quill {
      width: 300px;
      height: 300px;
    }
    
    .editorSpace {
    width: 300px;
    height: 440px;
    left: calc(50% - 170px);

    }
    
   }


.ql-editor::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
    background: rgba(255,255,255,0.4);
  }
  .ql-editor::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
  }




